/output/vehicle/inceptionresnetv2/*
!/output/vehicle/inceptionresnetv2/Figure_1.png
!/output/vehicle/inceptionresnetv2/results.txt
/output/vehicle/inceptionv3/*
!/output/vehicle/inceptionv3/Figure_1.png
!/output/vehicle/inceptionv3/results.txt
/output/vehicle/mobilenet/*
!/output/vehicle/mobilenet/Figure_1.png
!/output/vehicle/mobilenet/results.txt
/output/vehicle/resnet50/*
!/output/vehicle/resnet50/Figure_1.png
!/output/vehicle/resnet50/results.txt
/output/vehicle/vgg16/*
!/output/vehicle/vgg16/Figure_1.png
!/output/vehicle/vgg16/results.txt
/output/vehicle/vgg19/*
!/output/vehicle/vgg19/Figure_1.png
!/output/vehicle/vgg19/results.txt
/output/vehicle/xception/*
!/output/vehicle/xception/Figure_1.png
!/output/vehicle/xception/results.txt
